.travel-card-container {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgb(155, 209, 240);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.travel-card-container .card-title {

}

.travel-card-container .card-description {
    
}